/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* header style*/

/* menubar style */
.menubar{
    display: flex;
    justify-content: space-between;
    margin: 38px 20px 0px 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}
/* logo style */
.logo{
    display: flex;
    
}
.logo img{
    width: 86px;
    height: 40px;
    margin-top: 8px;
}
.logo h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}
.logo-text{
   color: #ff42a5;
}
/* menu item */
.menu{
    display: flex;
}
.menu ul li{
    display: inline-block;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 32px;
}
.menu ul li button{
    display: inline-block;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px 16px;

}
.menu .youtube{
    color: red;
    font-size: 24px;
    margin: -5px 16px 0px 24px;

}
.menu .tiktok{
    font-size: 24px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner .banner-text{
    background: url(images/Group\ 14.png);
    margin-top: 155px;
    margin-left: 25px;
}
.banner .banner-text h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner .banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.banner .banner-text ul li{
    list-style-type: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left: 60px;
    margin-bottom: 20px;
}
.banner .banner-text  img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 55px;

}
.buttons{
    margin-top: 41px;
    display: flex;
    gap: 24px;
    margin-left: 45px;
}
.signin{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.go-rogue{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
/* banner-image style */
.banner-image{
    margin-right: 20px;
}

/* header style*/

/* gamer section style */
.gamer{
    display: flex;
    width: 100%;
    gap: 52px
}
/* gamer image style */
.gamer-image img{
    width: 868px;
    height: 489px;
    margin-top: 55px;
}
/* gamer text style */
.gamer-text {
    margin-right: 50px;
    margin-top: 95px;
    width: 50%;
}
.gamer-text h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-text p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.gamer-text button{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-left: 170px;
    margin-top: 55px;
    margin-bottom: 24px;

}
.purpose{
    color: #534C64;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: right;
}
/* gamer section style */